.comment-main {
    .comment-infor {
        display: flex;
        align-items: center;

        .avt {
            width: 50px;
        }

        p.name {
            font-weight: bold;
            color: blue;
            margin: 7px 7px 7px 7px;
        }

        p.time {
            font-size: 15px;
            margin: 7px 0px 7px 0px;
        }
    }

    .comment-content {
        margin: 10px 0px;
        font-size: 18px;
    }

    .comment-emotion {

        .emotion-item {
            display: flex;
            font-weight: bold;

            p {
                color: blue;
                cursor: pointer;
                position: relative;

                &:first-child {
                    margin-right: 20px;
                }

                .emotion-bg {
                    transition: opacity 2s ease;
                    display: none;
                }

                .classFake {
                    transform: translateY(-30px);
                    background-color: #eee;
                    width: 250px;
                    height: 6px;
                    opacity: 0;
                }

                &:hover {
                    .emotion-bg {
                        display: flex;
                        position: absolute;
                        background-color: #fff;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        border-radius: 50px;
                        justify-content: center;
                        transform: translateY(-70px);
                        align-items: center;
                        height: 40px;
                        transition: width 0.2s ease, height 0.2s ease;

                        img.emotion-icon {
                            width: 30px;
                            height: 30px;
                            user-select: auto !important;
                            pointer-events: all;
                            margin: 5px;
                            transition: width 0.2s ease, height 0.2s ease;

                            &:hover {
                                width: 35px;
                                height: 35px;
                            }
                        }
                    }
                }

                &:not(:hover) .emotion-bg {
                    opacity: 0;
                    transition-delay: 2s;
                }
            }

            p.reply {
                transform: translateX(-200px);
            }
        }
    }

    // Reply 
    .comment-reply {
        margin-left: 20px;
        border-left: #000 solid 1px;

        .comment-infor-reply {
            display: flex;
            align-items: center;
            margin-left: 10px;

            .avt {
                width: 50px;
            }

            p.name {
                font-weight: bold;
                color: blue;
                margin: 7px 7px 7px 7px;
            }

            p.time {
                font-size: 15px;
                margin: 7px 0px 7px 0px;
            }
        }

        .comment-content-reply {

            p:first-child {
                width: 250px;
                background-color: #eee;
                padding: 5px;
                border-radius: 50px;
                font-weight: bold;
                color: blue;
                font-size: 15px;
            }

            p {
                color: #000;
                margin: 10px 0px;
                font-size: 18px;
                margin-left: 10px;
            }
        }

        .comment-emotion-reply {
            margin-left: 10px;

            .emotion-item {
                display: flex;
                font-weight: bold;

                p {
                    color: blue;
                    cursor: pointer;
                    position: relative;

                    &:first-child {
                        margin-right: 20px;
                    }

                    .emotion-bg {
                        transition: opacity 2s ease;
                        display: none;
                    }

                    .classFake {
                        transform: translateY(-30px);
                        background-color: #eee;
                        width: 250px;
                        height: 6px;
                        opacity: 0;
                    }

                    &:hover {
                        .emotion-bg {
                            display: flex;
                            position: absolute;
                            background-color: #fff;
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                            border-radius: 50px;
                            justify-content: center;
                            transform: translateY(-70px);
                            align-items: center;
                            height: 40px;
                            transition: width 0.2s ease, height 0.2s ease;

                            img.emotion-icon {
                                width: 30px;
                                height: 30px;
                                user-select: auto;
                                margin: 5px;
                                transition: width 0.2s ease, height 0.2s ease;

                                &:hover {
                                    width: 35px;
                                    height: 35px;
                                }
                            }
                        }
                    }

                    &:not(:hover) .emotion-bg {
                        opacity: 0;
                        transition-delay: 2s;
                    }
                }

                p.reply {
                    transform: translateX(-200px);
                }
            }
        }
    }
}