.setting-ad {
  background-color: #eee;
  padding: 20px;
  border-radius: 5px;

  textarea {
    height: 150px;
    resize: vertical;
  }

  h4 {
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .btn-danger {
    margin-top: 16px;
  }
}
