.admin {
    .tabs {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;

        .tab {
            margin: 15px 0px;
            padding: 10px;
            background-color: #dadada;
            border-radius: 5px;

            i {
                font-size: 18px;
                background-color: #747474;
                padding: 10px;
                border-radius: 50px;
                color: #fff;
            }
        }
    }
}

.dark-mode {
    .admin {

        .tabs {
            display: grid;
            grid-template-columns: 30% 30% 30%;
            justify-content: space-between;

            .tab {
                padding: 10px;
                background-color: #454568;
                border-radius: 5px;

                i {
                    font-size: 18px;
                    background-color: #606083;
                    padding: 10px;
                    border-radius: 50px;
                    color: #fff;
                }
            }
        }
    }
}