// Thẻ chung
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
    cursor: auto;

    &:hover {
      background: #555;
    }
  }

  &::-webkit-scrollbar-thumb:active {
    background: #333;
  }
}

/* Định nghĩa hiệu ứng fade-in */
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

// Cấu hình cho client
.container {
  padding-top: 60px;
}

// Hiển thị markdown
.preview {
  width: 100%;

  ul {
    li {
      font-size: 18px;
      color: #000;
    }
  }

  p,
  div {
    font-size: 18px;
    color: #000;
  }

  .al-left {
    text-align: left;
  }

  .al-center {
    text-align: center;
  }

  .al-right {
    text-align: right;
  }

  .al-justify {
    text-align: justify;
  }

  blockquote {
    border-left: 4px solid #474747;
    padding-left: 10px;
    font-style: italic;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: #000;
  }

  table,
  th,
  td {
    border: 1px solid #000;
  }

  th,
  td {
    padding: 8px 12px;
    text-align: left;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    text-align: center;
  }
}

.admin-layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden;

  .sidebar {
    padding-top: 100px;
    width: 5%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.4s ease-in-out;
    overflow: hidden;
    border-right: #000 solid 1px;
  }

  .body {
    flex: 1;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.4s ease-in-out;

    .headerAdmin {
      border-bottom: #000 solid 1px;
      width: calc(100% - 5%);
      background-color: #fff;
      position: fixed;
      height: 60px;
      padding: 0px 10px;
      z-index: 1;
      transition: width 0.4s ease-in-out; // Đảm bảo header cũng điều chỉnh mượt
    }

    .bodyAdmin {
      flex: 1;
      padding: 10px 20px;
      overflow-y: auto;
      margin-top: 60px;

      .admin {
        width: 100%;
      }
    }
  }
}

.admin-layout-open {
  display: flex;
  min-height: 100vh;
  overflow: hidden;

  .sidebar {
    padding-top: 100px;
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.4s ease-in-out;
    overflow: hidden;
    border-right: #000 solid 1px;
  }

  .body {
    flex: 1;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.4s ease-in-out;

    .headerAdmin {
      border-bottom: #000 solid 1px;
      width: calc(100% - 20%);
      background-color: #fff;
      position: fixed;
      height: 60px;
      padding: 0px 10px;
      z-index: 1;
      transition: width 0.4s ease-in-out;
    }

    .bodyAdmin {
      flex: 1;
      padding: 10px 20px;
      overflow-y: auto;
      margin-top: 60px;

      .admin {
        width: 100%;
      }
    }
  }
}

.admin-layout,
.admin-layout-open {
  .phoneAdmin {
    display: none;
  }
}

// Giao diện cho client
.client-layout {
  height: 100%;

  .bg-fixed {
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;
      z-index: 999;
    }

    .fixed {
      opacity: 1;
      width: 50%;
      height: 100%;
      position: fixed;
      z-index: 1000;
      top: 15%;
      right: 25%;
      left: 25%;

      .fa-x {
        font-size: 25px;
        display: flex;
        justify-content: right;
        color: #000;
        transform: translate(-20px, 40px);
        cursor: pointer;
      }
    }
  }

  .bg-fix {
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;
      z-index: 999;
    }

    .fixed {
      opacity: 1;
      width: 50%;
      height: 100%;
      position: fixed;
      z-index: 1000;
      top: 8%;
      right: 25%;
      left: 25%;

      .fa-x {
        font-size: 25px;
        display: flex;
        justify-content: right;
        color: #000;
        transform: translate(-20px, 40px);
        cursor: pointer;
      }
    }
  }

  img {
    user-select: none;
    pointer-events: none;
  }

  .tet {
    img.tet1 {
      width: 200px;
      bottom: 0;
      right: 0;
      z-index: 1;
      position: fixed;
    }

    img.tet2 {
      width: 200px;
      top: 60px;
      left: -10px;
      z-index: 1;
      position: fixed;
    }

    img.tet3 {
      width: 200px;
      z-index: 1;
      top: 80px;
      right: -10px;
      position: fixed;
    }
  }

  .noel {
    img.noel1 {
      width: 250px;
      position: fixed;
      z-index: 1;
      bottom: 10px;
      left: -20px;
    }
  }

  .trungthu {
    img.trungthu1 {
      width: 200px;
      position: fixed;
      z-index: 1;
      bottom: 0;
      left: 0;
    }

    img.trungthu2 {
      width: 200px;
      position: fixed;
      z-index: 1;
      bottom: 0;
      right: 0;
    }

    img.trungthu3 {
      width: 200px;
      position: fixed;
      z-index: 100;
      top: -20px;
      left: 100px;
    }
  }
}

// Giao diện tối
.dark-mode {
  background-color: #31314d;

  .laptop {
    .nav {
      background-color: #31314d;

      .nav-link {
        color: #fff;
      }

      .custom-dropdown-toggle {
        color: #fff;
      }

      .dropdown-menu {
        background-color: #1e1e2f;

        .dropdown-link {
          color: #eee;
        }

        .dropdown-link-logout {
          color: rgb(255, 86, 86);
          text-decoration: none;
        }

        .dropdown-item.active,
        .dropdown-item:active {
          background-color: #1e1e2f;
        }

        .dropdown-item:hover {
          background-color: #1e1e2f;
        }

        .dropdown-divider {
          background-color: #eee;
        }
      }
    }
  }

  footer {
    background-color: #27293d;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  i {
    color: #fff;
  }

  a {
    color: #c8cdff;
  }

  .admin-layout {
    .sidebar {
      border-right: #424266 solid 1px;
      transition: width 0.4s ease-in-out;
    }

    .body {
      transition: margin-left 0.4s ease-in-out;

      .headerAdmin {
        border-bottom: #424266 solid 1px;
        width: calc(100% - 5%);
        background-color: #31314d;
        transition: width 0.4s ease-in-out;
      }
    }
  }

  .admin-layout-open {
    .sidebar {
      transition: width 0.4s ease-in-out;
      border-right: #424266 solid 1px;
    }

    .body {
      transition: margin-left 0.4s ease-in-out;

      .headerAdmin {
        background-color: #31314d;
        border-bottom: #424266 solid 1px;
        width: calc(100% - 20%);
        transition: width 0.4s ease-in-out;
      }
    }
  }

  .preview {
    width: 100%;

    ul {
      li {
        font-size: 18px;
        color: #fff;
      }
    }

    p,
    div {
      color: #fff;
    }

    .al-left {
      text-align: left;
    }

    .al-center {
      text-align: center;
    }

    .al-right {
      text-align: right;
    }

    .al-justify {
      text-align: justify;
    }

    blockquote {
      border-left: 4px solid #ccc;
      padding-left: 10px;
      font-style: italic;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      color: #fff;
    }

    table,
    th,
    td {
      border: 1px solid #fff;
    }

    th,
    td {
      padding: 8px 12px;
      text-align: left;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 10px auto;
      text-align: center;
    }
  }
}

// Giao diện mobile
@media screen and (max-width: 1190px) {
  .container {
    padding-top: 20px;
  }

  .client-layout {
    height: 100%;

    .bg-fixed {
      .fixed {
        width: 90%;
        right: 5%;
        left: 5%;
      }
    }

    .bg-fix {
      .fixed {
        width: 90%;
        right: 5%;
        left: 5%;
      }
    }
  }

  .sidebar,
  .bodyAdmin,
  .headerAdmin {
    display: none;
  }

  .admin-layout,
  .admin-layout-open {
    .phoneAdmin {
      height: 100vh;

      h1 {
        padding: 20px;
      }

      a {
        margin: 0px 20px;
      }
    }
  }
}
